*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Loading Effect */

.aim-loading{
    background: url(../media/background.png) no-repeat;
    background-position: center;
    background-size: cover;    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.aim-logo{
    height: 150px;
    width: 150px;
    /* border: 2px solid red;  */
    position: relative;  
}

.line-optic{
    position: absolute;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: red; */
}

.ring{
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    transition: all 0.3s ease-in-out;
}

.line-optic div{
    position: relative;
    height: 80px;
    width: 15px;
    background-color: black;
    border-radius: 25px;    
    transition: all 0.3s ease-in-out;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
}

.line-optic div:nth-child(1){        
    left: 45%;
    top: -20%;
    animation-name: _1lo;        
}

.line-optic div:nth-child(2){    
    left: 45%;
    bottom: -10%;
    animation-name: _2lo;    
    animation-delay: 0.6s;
}

.line-optic div:nth-child(3){
    top: -85%;   
    transform: rotate(270deg);
    animation-name: _3lo; 
    animation-delay: 0.9s;   
}

.line-optic div:nth-child(4){
    top: -139%;   
    left: 88%;
    transform: rotate(270deg);
    animation-name: _4lo;    
    animation-delay: 0.3s;
}

#outer-ring{    
    height: 100%;
    width: 100%;
    border: 5px double black;
    border-radius: 100px;
    transform: scale(1.15);
    animation-name: outer;
    animation-delay: 0.8s;
}

#dashed-ring{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    border: 2px dashed black;
    border-radius: 100px;
    transform: scale(1.22);
    animation-name: dash;
}

#inner-ring{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    border: 3px solid black;
    border-radius: 100px;
    transform: scale(0.9);
    animation-name: inner;
    animation-delay: 3s;
    animation-duration: 0.7s;
}

#center-dot{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-color: black;
    border-radius: 100px;
    transform: scale(0.1);
    animation-name: dott;
    animation-delay: 3.5s;
    animation-duration: 0.8s;
}

/* Animations */

@keyframes _1lo {
    0%{        
        transform: translateY(-100%);
        opacity: 0;
    }   
    100%{        
        /* transform: translateY(0%); */
    }   
}

@keyframes _2lo {
    0%{        
        transform: translateY(100%);
        opacity: 0;
    }   
    
}

@keyframes _3lo {
    0%{        
        transform: rotate(270deg) translateY(-100%);
        opacity: 0;
    }      
}

@keyframes _4lo {
    0%{        
        transform: rotate(270deg) translateY(100%);
        opacity: 0;
    }   
    
}

@keyframes dash {
    0%{
        transform: rotateY(180deg) scale(5);
        opacity: 0;
    }

    50%{
        transform: rotateY(180deg) scale(5);
        opacity: 0;
    }
}

@keyframes outer {
    0%{
        transform: rotateX(270deg) scale(1.5);
        border-color: #2a3890;
        opacity: 0;
    }

    60%{
        transform: rotateX(180deg) scale(1.5);
        border-color: #2a3890;
        opacity: 0;
    }
}

@keyframes inner {
    0%{
        transform: scale(0);
        border-color: #009243;
        opacity: 0;
    }

    50%{
        transform: scale(0);
        border-color: #009243;
        opacity: 0;
    }
}

@keyframes dott {
    0%{
        transform: scale(0);
    }

    50%{
        transform: scale(0);
    }

    80%{
        transform: scale(0.15);
    }
}

/* Texts| Press Effect */
#press{
    /* border: 2px solid red; */
    position: absolute;
    bottom: 20%;
    text-align: center;
    animation-name: press;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 4.5s;
    animation-fill-mode: backwards;
    animation-direction: alternate;
}

@keyframes press {
    0%{
        opacity: 0;
    }
}

/* Aim Title */

#aim-title{
    /* border: 2px solid red; */
    position: absolute;
    top: 20%;
    text-align: center;
    animation-name: aimTitle;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 4s;
    animation-fill-mode: backwards;    
}

#aim-title span{
    font-size: 0.8rem;
    color: #2a3890;    
}

@keyframes aimTitle {
    0%{
        opacity: 0;
        transform: translateX(50%);
    }
}

/* Hover Effect */
.aim-logo-hover{
    transition: all 0.3s ease-in-out;
}

.aim-logo-hover:hover{    
    transform: rotate(180deg) scale(0.8);
    transition: all 0.3s ease-in-out;
}