.aim-logo{
    height: 150px;
    width: 150px;
    /* border: 2px solid red;  */
    transform: scale(0.3);
    position: absolute;  
    top: -70%;
    left: -15%;        
}

.line-optic{
    position: absolute;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: red; */
}

.line-optic div{
    position: relative;
    height: 80px;
    width: 15px;
    background-color: black;
    border-radius: 25px;    
    transition: all 0.3s ease-in-out;
}

.line-optic div:nth-child(1){        
    left: 45%;
    top: -20%;    
}

.line-optic div:nth-child(2){    
    left: 45%;
    bottom: -10%;    
}

.line-optic div:nth-child(3){
    top: -85%;   
    transform: rotate(270deg);    
}

.line-optic div:nth-child(4){
    top: -139%;   
    left: 88%;
    transform: rotate(270deg);    
}

#outer-ring{    
    height: 100%;
    width: 100%;
    border: 5px double black;
    border-radius: 100px;
    transform: scale(1.15);    
}

#dashed-ring{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    border: 2px dashed black;
    border-radius: 100px;
    transform: scale(1.22);    
}

#inner-ring{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    border: 3px solid black;
    border-radius: 100px;
    transform: scale(0.9);            
}

#center-dot{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-color: black;
    border-radius: 100px;
    transform: scale(0.1);    
}

#aim-title{
    /* border: 2px solid red; */
    position: relative;
    /* top: 20%; */
    top: 30%;
    left: 0%;
    text-align: center;
    animation-name: aimTitle;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 4s;
    animation-fill-mode: backwards;    
}

#aim-title span{
    font-size: 0.5rem;
    color: #2a3890;    
}